HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
java-app/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### Dataset ###
datasets/cc.bn.300.vec
datasets/pydic.dic
cc.bn.300.vec
/__pycache__
/__pycache__
/__pycache__
__pycache__/Service.cpython-311.pyc
/comparing_codes/tasfeerNayyem/tmp/
/comparing_codes/tasfeerNayyem/.idea/
/other_experimentations/
/comparing_codes/ksarkar/KsarkarResult10.0.json
/comparing_codes/ksarkar/KsarkarResult_dataset_2_10.0.json
/comparing_codes/ksarkar/KsarkarResult_dataset_3_10.0.json
/comparing_codes/lexrank/LexRankResult.json
/comparing_codes/lexrank/lexRankResult_dataset_2.json
/comparing_codes/lexrank/lexRankResult_dataset_3.json
/comparing_codes/tasfeerNayyem/tasfeerResult_dataset_1.json
/comparing_codes/tasfeerNayyem/tasfeerResult_dataset_2.json
/comparing_codes/tasfeerNayyem/tasfeerResult_dataset_3.json
/fahim_firstrank_e(a(m2)_2s2)/ex1_ds1/
/fahim_firstrank_e(a(m2)_2s2)/ex1_ds3/
/fahim_firstrank_e(a(m2)_2s2)/ex1_ds_2/
/fahim_firstrank_e(a(m2)_2s2)/
/.idea
/comparing_codes/lexrank/.idea/
/comparing_codes/tasfeerNayyem/tmp/
